.DS_Store
GestureTestApp/GestureTestApp.xcodeproj/project.xcworkspace/
GestureTestApp/GestureTestApp.xcodeproj/xcuserdata/
GestureTestApp/GestureTestApp.xcodeproj/project.xcworkspace/xcuserdata/
GestureTestApp/GestureTestApp.xcodeproj/project.xcworkspace/xcuserdata/grepruby.xcuserdatad/UserInterfaceState.xcuserstate
ShoppingApp/ShoppingApp.xcodeproj/project.xcworkspace/xcuserdata/grepruby.xcuserdatad/UserInterfaceState.xcuserstate
ShoppingApp/ShoppingApp.xcodeproj/xcuserdata/grepruby.xcuserdatad/xcschemes/ShoppingApp.xcscheme